* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
}

.container {
  width: 100%;
  padding: 15px;
  margin: 0 auto;
}

@media (man-width: 786px) {
  .container {
    width: 750px;
  }
}

@media (man-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (man-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.Home,
.services,
.products,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.services {
  background-image: url("./images/img-2.jpg");
}

.products {
  background-image: url("./images/img-1.jpg");
}

.sign-up {
  background-image: url("./images/img-8.jpg");
}

@media (max-width: 767px) {
  .services,
  .products,
  .sign-up {
    font-size: 40px;
  }
}
